alias ls='ls --color=auto'
alias e='nvim'
alias bc='nvim ~/.bashrc'
alias notes='nvim ~/notes/README.md'
alias notes='nvim $HOME/notes/README.md'
alias pnotes="pushd $HOME/notes; cm 'changes'; git push; popd;"
alias lc='nvim $HOME/notes/code/README.md' 
alias mr='rm'
alias b='cd ..'
alias dc='cd'
alias cdc='cd'
alias c='clear'
alias clera='clear'
alias clare='clear'
alias celar='clear'
alias caeler='clear'
alias claer='clear'
alias clearls='clear && ls'
alias sl=ls
alias lsl=ls
alias llsl=ls
alias ls='ls --color=auto'
alias sl=ls
alias lsl=ls
alias llsl=ls
alias sl=ls
# NVIM
alias init='nvim ~/.config/nvim/init.lua'
alias appearance='nvim ~/.config/nvim/lua/m/appearance.lua'
alias coq='nvim ~/.config/nvim/lua/m/coq.lua'
alias sets='nvim ~/.config/nvim/lua/m/sets.lua'
alias finder='nvim ~/.config/nvim/lua/m/finder.lua'
alias maps='nvim ~/.config/nvim/lua/m/maps.lua'
alias plugins='nvim ~/.config/nvim/lua/m/plugins.lua'
alias lsp='nvim ~/.config/nvim/lua/m/lsp.lua'
alias tmux='TERM=screen-256color-bce tmux'
alias clean='rm -rf .bash_history .python_history .cache/'
alias lab='ssh ubhattac@ieng6.ucsd.edu'
alias cm='git commit'
